export(anova1, anova2, bwplot, bwplot.by.var, bxplot, caplot, cat2list, cnpplt, cutter, dftest, display.ascii.o, display.lty, display.marks, display.rainbow, edamap, edamap7, edamap8, fences, fences.summary, framework.stats, framework.summary, gx.ecdf, gx.hist, gx.stats, gx.subset, inset, inset.exporter, ltdl.fix, ltdl.fix.df, remove.na, shape, syms, syms.pfunc, tbplot, tbplot.by.var, thplot1, thplot2, var2fact )